@tailwind base;

@layer base {
  body {
    @apply text-white;
    @apply bg-zinc-900;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-white no-underline hover:text-lime-500 cursor-pointer;
  }
}

.qqqq {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes slidemenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
