.image {
  filter: grayscale(100%) brightness(50%);
  transition: 0.5s all ease-in-out;
  height: 100%;
}

.image:hover {
  filter: grayscale(0%) brightness(75%);
  transform: scale(1.15, 1.15);
}

.image-link {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.image-wrapper .image-link {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
}

.image-wrapper:hover .image-link {
  visibility: visible;
  opacity: 1;
}

.image-wrapper:hover .image {
  visibility: visible;
  filter: grayscale(0%) brightness(75%);
  transform: scale(1.15, 1.15);
}
